<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt"
	  throwConfigExceptions="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target name="logfile" xsi:type="File" fileName="${basedir}/logs/file.log" />
		<target name="logconsole" xsi:type="Console" />
		<target name="db"
        xsi:type="Database"
		dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
        connectionString="server=DESKTOP-QABJLKV; Database=NLog;Trusted_Connection=True;MultipleActiveResultSets=True; Encrypt = False; TrustServerCertificate=True"
        commandType="StoredProcedure"
        commandText="[dbo].[NLog_AddEntry_p]"
        >
			<parameter name="@machineName"    layout="${machinename}" />
			<parameter name="@logged"         layout="${date}" />
			<parameter name="@level"          layout="${level}" />
			<parameter name="@message"        layout="${message}" />
			<parameter name="@logger"         layout="${logger}" />
			<parameter name="@properties"     layout="${all-event-properties:separator=|}" />
			<parameter name="@callsite"       layout="${callsite}" />
			<parameter name="@exception"      layout="${exception:tostring}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<!--logger name="Microsoft.*" minlevel="Info" final="true" /-->
		<logger name="Microsoft.*" minlevel="Info" writeTo="db" />
		<!--<logger name="LoggerRules" minlevel="Debug" writeTo="logfile" /> -->
		
		<logger name="*" minlevel="Trace" writeTo="db" />
	</rules>
</nlog>