<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="logs/log1.txt"
	  throwConfigExceptions="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target name="database" xsi:type="Database"
				connectionString="server=localhost,1433; Database=patronageDB; user id= SA; password=Password123"
				>
			

			<!--
  Script for creating the dbo.Log table.
      
  SET ANSI_NULLS ON
  SET QUOTED_IDENTIFIER ON
  CREATE TABLE [dbo].[Log] (
	  [Id] [int] IDENTITY(1,1) NOT NULL,
	  [MachineName] [nvarchar](50) NOT NULL,
	  [Logged] [datetime] NOT NULL,
	  [Level] [nvarchar](50) NOT NULL,
	  [Message] [nvarchar](max) NOT NULL,
	  [Logger] [nvarchar](250) NULL,
	  [Callsite] [nvarchar](max) NULL,
	  [Exception] [nvarchar](max) NULL,
    CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED ([Id] ASC)
      WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
  ) ON [PRIMARY]
  -->

			<commandText>
				insert into dbo.Log (
				MachineName, Logged, Level, Message,
				Logger, Callsite, Exception
				) values (
				@MachineName, @Logged, @Level, @Message,
				@Logger, @Callsite, @Exception
				);
			</commandText>

			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@Logged" layout="${date}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Callsite" layout="${callsite}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
		</target>
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
		<target name="file" xsi:type="File"
				layout="${machinename} ${date} ${level} ${message} ${logger} ${callsite} ${exception:format=ToString}"
				fileName="logs/${shortdate}.log"
				keepFileOpen="true"
				encoding="utf-8" />
	</targets>

	<rules>
		<!--logger name="*" minlevel="Trace" writeTo="lifetimeConsole" /-->
		<!--logger name="Microsoft.*" minlevel="Info" final="true" /-->
		<!--logger name="Microsoft.*" minlevel="Info" writeTo="database" /-->
		<!--<logger name="LoggerRules" minlevel="Debug" writeTo="logfile" /> -->
		
		<logger name="*" minlevel="Trace" writeTo="lifetimeConsole" />
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>